<!--Comment-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="OrderCtrl">

<div class="w3-container">

<h3>Orders</h3>

<table class="w3-table w3-bordered w3-striped">
  <tr>
    <th></th>
    <th>Full Name</th>
    <th>Address</th>
    <th>Grocery List</th>
    <th>Store Location</th>

  </tr>
  <tr ng-repeat="Order in Orders">
    <td>
     
    </td>
    <td>{{ Order.fName }}</td>
    <td>{{ Order.address }}</td>
    <td>{{ Order.grocery_list }}</td>
    <td>{{ Order.store_location }}</td>
  </tr>
</table>
<br>
<button class="w3-btn w3-green w3-ripple" ng-click="editOrder('new')">&#9997; Your Order</button>

<form ng-hide="hideform">
  <h3 ng-show="edit">Your Order:</h3>
  <h3 ng-hide="edit">Edit Order:</h3>
    <label>Full Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="fName"  placeholder="Full Name">
  <br>
    <label>Address:</label>
    <input class="w3-input w3-border" type="text" ng-model="address"  placeholder="Full Address">
  <br>
    <label>Grocery List:</label>
    <input class="w3-input w3-border" type="text" ng-model="grocery_list" placeholder="Copy and Paste Your Own or Enter List Separated By Commas">
  <br>

    <label>Store Location:</label>
    <input class="w3-input w3-border" type="text" ng-model="grocery_list" placeholder="Please Enter your Desired Store">
  <br>

<button class="w3-btn w3-green w3-hover"  ng-click="saveOrder()">&dollar; Place Order</button>
</form>

</div>

<script>
angular.module('myApp', []).controller('OrderCtrl', function($scope) {

$scope.fName = '';
$scope.address = '';
$scope.grocery_list = '';
$scope.store_location = '';



$scope.Orders = [
  {id:1, fName:'Jack Brown', address:"123 Appletree Ln Knoxville, TN 37919", grocery_list:"Whole Wheat Bread, Organic Eggs, Whole Milk", store_location:"Kroger - Chapman HWY" },
];

$scope.edit = true;
$scope.error = false;
$scope.incomplete = false; 
$scope.hideform = true; 

$scope.editOrder = function(id) {
  $scope.hideform = false;
  if (id == 'new') {
    $scope.edit = true;
    $scope.incomplete = true;
    $scope.fName = '';
    $scope.lName = '';
    } else {
    $scope.edit = false;
    $scope.fName = $scope.Orders[id-1].fName;
    $scope.lName = $scope.Orders[id-1].lName; 
  }
};

$scope.saveOrder = function() {
  $scope.Orders.push({id: $scope.Orders.id +1, fName: $scope.fName, address: $scope.address, grocery_list: $scope.grocery_list, store_location:$scope.store_location});
};

});
</script>

</body>
</html>